doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
  body
    p Hi #{name},
    p Thank you for your order. We’ll send a confirmation when your order ships. Your estimated delivery date is after a week.
    p Some products have a limited quantity available for purchase. Please see the product’s Detail Page for the available quantity. Any orders which exceed this quantity will be automatically canceled.
    p We hope to see you again soon.
